{
  "prodver_url": "http://prodver/control",
  "shard_name": "control",
  "github_org": "tailscale",
  "github_repo": "corp",
  "projects": [
    {"project_number": 150, "name": "Product Growth"},
    {"project_number": 200, "name": "Platform"}
  ]
}
