{
  "mappings": [
    {
      "team": "TEAM 1",
      "pagerduty_schedule_id": "P2XXXXX",
      "slack_usergroup_id": "SXXXXXXXXXX"
    },
    {
      "team": "TEAM 2",
      "pagerduty_schedule_id": "P2XXXXX",
      "slack_usergroup_id": "SXXXXXXXXXX"
    }
  ]
}
