{
  "mappings": [
    {
      "team": "TEAM 1",
      "pagerduty_schedule_id": "P2XXXXX",
      "slack_usergroup_id": "SXXXXXXXXXX",
      "slack_channel_id": "CXXXXXXXXXX",
      "notification_message": "{@user} is now the BGP for Team 1!"
    },
    {
      "team": "TEAM 2",
      "pagerduty_schedule_id": "P2XXXXX",
      "slack_usergroup_id": "SXXXXXXXXXX"
    }
  ]
}
